header{
	position:fixed;
	width:100%;
	height:69px;
	border-bottom:1px solid seashell;
	align-items:center;
	top:0px;
	bottom:0px;
}

body{
	font-family:Helvetica;
	font-size:22px;
	color:seashell;
	opacity:0.9;
}

a{
	color:white;
}

.main{
	flex-direction:column;
	align-items:center;
	text-align:center;
	padding-top:61px;
}

.black-bg{
	background-color:black;
}

.flex-container{
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
}

header img{
	height:50px;
	padding-left:10px;
}

header nav{
	text-align:right;
	flex-grow:1;
}

header span{
	padding:0 15px;
}

.mission-cover{
	background-image: url("../img/mission.jpg");
	height:700px;
	width:1200px;
	align-items:center;
	
}

.mission-cover .mission-content{
	text-align:center;
	width:100%;
}

.teaofthemonth{
	width:1000px;
	height:700px;
	padding:70px 0;
}

.teaofthemonth .tea-pictures{
	justify-content:center;
}

figure img{
	height:200px;
	width:300px;
	padding-bottom:10px;
}

figcaption{
	font-weight:bold;
}

figure{
	margin:10px 10px;
}

.box{
	width:300px;
	height:300px;
	flex-direction:column;
	justify-content:space-around;
	margin:15px 40px;
	opacity:1;
}

.box span{
	padding:10px;
}

.locations-cover{
	background-image: url("../img/coffee.jpg");
	height:500px;
}

.contact{
	height:200px;
}

footer h5{
	padding-left:20px;
}